$white: #ffffff;
$black: #000000;
$gray: #333;
$lightgray:#818a91;
$pink: #c36;
$red: #E20A0A;
$blue: #00355E;

$font-size: 16;
$max-width: 1200px;
$min-width:1140px;
//MEDIAS
$max: 1600px;
$lap: 1400px;
$lg: 1200px;
$md: 850px;
$sm: 580px;
$xs: 400px;

//FUNCTIONS
@function pxtorem($px) {
  @return #{$px/$font-size}rem;
}

@function col($n, $t: 18) {
  @return #{(($n * 100) / $t)}#{"%"};
}

@mixin h1($color: initial, $scale: 1) {
  font-family: 'Montserrat', sans-serif;
  font-size: pxtorem(24 * $scale);
  color: $color;
  margin: 0;
  font-weight: 500;
  @media screen and (max-width: $md) {
    font-size: pxtorem(24 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}

h1 {
  @include h1();
}

@mixin h2($color: initial, $scale: 1) {
  font-family: 'Montserrat', sans-serif;
  font-size: pxtorem(18 * $scale);
  color: $color;
  margin: 0;
  font-weight: 500;
  @media screen and (max-width: $md) {
    font-size: pxtorem(24 * $scale);
  }
  @media screen and (max-width: $sm) {
    font-size: pxtorem(24 * $scale);
  }
}

h2 {
  @include h2($blue,1);
}


@mixin p($color: initial, $scale: 1) {
  font-family: 'Montserrat', sans-serif;
  font-size: pxtorem(14 * $scale);
  color: $color;
  margin: 0;
  font-weight: 400;
  line-height: 2;
}

p {
  @include p();
  &.especial{
    @include p(initial,1);
    font-weight: 300;
    @media screen and (max-width: $lg) {
      @include p(initial,.9);
    }
  }
}

@mixin button($bg) {
  background: $bg;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $white;
  width: 135px;
  height: 35px;
  padding: 15px;
  border-radius: 50px;
  margin: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.button {
  @include button($blue);
}

@mixin buttonSecondary($bg) {
  background: $bg;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: $white;
  width: 100px;
  height: 50px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}

.button-secondary {
  @include buttonSecondary($pink);
}
a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 147px 0 0 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: col(18);
  .top{
    background-color: $blue;
    padding: 15px;
    @media screen and (max-width: $lg) {
      padding: 15px;
    }
    p{
      color: $white;
    }
    .container{
      max-width: $max-width;
      margin: auto;
      display: flex;
      justify-content: space-between;
      .info{
        width: col(11);
        justify-content: space-between;
        @media screen and (max-width: $lg) {
          width: col(13);
        }
        @media screen and (max-width: $md) {
          flex-direction: column;
          align-items: flex-start;
        }
        >div{
          display: flex;
          align-items: center;
          img{
            width: 20px;
            margin-right: 15px;
            @media screen and (max-width: $lg) {
              margin-right: 5px;
            }
          }
        }
      }
      >div{
        display: flex;
        align-items: center;
        img{
          width: 20px;
          margin-right: 15px;
        }
      }

    }

  }
  .redline{
    background-color: $red;
    height: 3px;
  }
  .bottom{
    background-color: $white;
    padding: 15px;
    box-shadow: 0px 0px 26px -4px rgba(149,149,149,0.75);
    .container{
      max-width: $max-width;
      margin: auto;
      display: flex;
      align-items: center;
      .left{
        width: col(9);
      }
      .right{
        width: col(9);
        display: flex;
        justify-content: space-between;
        p{
          color: $blue;
          transition: all .5s ease;
          @include p(initial,1.2);
          &:hover{
            color: $red;
            transition: all .5s ease;
          }
        }
      }
    }
  }
}

.side-contact{
  position: fixed;
  right: 15%;
  top: 50%;
  z-index: 999;
  .icon{
    &.fb{
      background-color: #3b5998;
    }
    &.mail{
      background-color: #ea4335;
    }
    &.wp{
      background-color: #25d366;
    }
    margin-bottom: 15px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease;
    &:hover{
      transform: translateY(8px);
      transition: all .5s ease;
    }
    img{
      width:30px;
      margin: auto;
    }
  }
}

/********************* Home ******************/


.products{
  max-width: $min-width;
  margin:50px auto 0 auto;
  width: col(16);
  
  .products-container{
    margin-top: 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
    @media screen and (max-width: $md) {
      grid-template-columns: repeat(2,1fr);
    }
    @media screen and (max-width: $sm) {
      grid-template-columns: repeat(1,1fr);
    }
  }
}

.companies{
  max-width: $max-width;
  margin: 60px auto 100px auto;
  
  .slider{
    cursor: grab;
    &:active{
      cursor: grabbing;
    }
  }
  .slick-dots{
    position: absolute;
    left: 0;
    right: 0;
    margin: 30px auto 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    width: 70px;
    li{
      margin: 0 10px;
      &.slick-active{
        button{
          background-color: $gray;
        }
      }
      button{
        cursor: pointer;
        width: 10px;
        height: 10px;
        font-size: 0;
        background-color: $lightgray;
        border: none;
        border-radius: 50%;
        padding: 0;
      }
    }
  }
}

.recent-products{
  max-width: $max-width;
  margin: auto;
  h1{
    margin-bottom: 50px;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      img{
        width: 150px;
      }
      p{
        margin-bottom: 10px;
        color: $pink;
      }
    }
  }
}

.contact{
  max-width: $max-width;
  margin: 50px auto 50px auto;
  display: flex;
  h1{
    margin-bottom: 15px;
  }
  .left{
    width: col(9);
    input{
      width: 100%;
      padding: 20px;
      margin-bottom: 15px;
      border-radius: 5px;
      border:1px solid $lightgray;
      &:focus{
        outline: none !important;
        border: 1px solid $gray;
      }
    }
  }
  .right{
    width: col(9);
    display: flex;
    align-items: center;
    flex-direction: column;
    .container{
      .info{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 25px;
        h3{
          margin: 0;
        }
        img{
          width: 40px;
          margin-bottom: 15px;
        }
      }
    }
  }
}


/********************* Nosotros ******************/

.us-header{
  width: col(18);
  height: 150px;
  background-image: url(../img/range-hood-types.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  &::after{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    background-color: $blue;
    opacity: .7;
    position: absolute;
    left: 0;
    top: 0;
  }
  >div{
    max-width: $min-width;
    margin: auto;
    max-width: 1140px;
    margin: auto;
    width: 100%;
    z-index: 1;
    h1{
      color: $white;
      font-weight: bold;
      letter-spacing: 2px;
      position: relative;
      &:before{
        content: "";
        width: 70px;
        height: 5px;
        background-color: $red;
        display: block;
        position: absolute;
        bottom: -10px;
        left: 0;
      }
    }
  }
}

.us{
  width: col(11);
  margin: 70px auto 0 auto;
  .slide{
    margin: 0 15px ;
  }
  img{
    //width: 50px;
  }
}

.who{
  width: col(11);
  margin: 70px auto 0 auto;
  display: flex;
  justify-content: space-between;
  .left{
    width: col(8);
  }
  .right{
    
  }
  h1{
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  p{
    margin-bottom: 15px;
  }
}