@charset "UTF-8";
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #333;
  margin: 0;
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 580px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  color: #00355E;
  margin: 0;
  font-weight: 500;
}

@media screen and (max-width: 850px) {
  h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 580px) {
  h2 {
    font-size: 1.5rem;
  }
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  color: initial;
  margin: 0;
  font-weight: 400;
  line-height: 2;
}

p.especial {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  color: initial;
  margin: 0;
  font-weight: 400;
  line-height: 2;
  font-weight: 300;
}

@media screen and (max-width: 1200px) {
  p.especial {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7875rem;
    color: initial;
    margin: 0;
    font-weight: 400;
    line-height: 2;
  }
}

.button {
  background: #00355E;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #ffffff;
  width: 135px;
  height: 35px;
  padding: 15px;
  border-radius: 50px;
  margin: auto;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button:hover {
  background: #001e35;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button:active {
  background: black;
}

.button-secondary {
  background: #c36;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #ffffff;
  width: 100px;
  height: 50px;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button-secondary:hover {
  background: #ab2b56;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button-secondary:active {
  background: #661a33;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 146px 0 0 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

.nav .top {
  background-color: #00355E;
  padding: 15px;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .nav .top {
    padding: 15px;
  }
}

.nav .top p {
  color: #ffffff;
}

.nav .top .container {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 580px) {
  .nav .top .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.nav .top .container .info {
  width: 61.11111%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .nav .top .container .info {
    width: 72.22222%;
  }
}

@media screen and (max-width: 850px) {
  .nav .top .container .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 580px) {
  .nav .top .container .info {
    display: none;
  }
}

.nav .top .container .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .top .container .info > div img {
  width: 20px;
  margin-right: 15px;
}

@media screen and (max-width: 1200px) {
  .nav .top .container .info > div img {
    margin-right: 5px;
  }
}

.nav .top .container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .top .container > div img {
  width: 20px;
  margin-right: 15px;
}

.nav .redline {
  background-color: #E20A0A;
  height: 3px;
}

.nav .bottom {
  background-color: #ffffff;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 26px -4px rgba(149, 149, 149, 0.75);
          box-shadow: 0px 0px 26px -4px rgba(149, 149, 149, 0.75);
}

.nav .bottom .container {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .bottom .container .left {
  width: 61.11111%;
}

@media screen and (max-width: 850px) {
  .nav .bottom .container .left {
    width: 55.55556%;
  }
}

.nav .bottom .container .right {
  width: 38.88889%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .bottom .container .right .categories-container {
  position: relative;
}

.nav .bottom .container .right .categories-container p {
  cursor: pointer;
}

.nav .bottom .container .right ul.categories {
  list-style: none;
  margin: 0;
  position: absolute;
  left: 0;
  top: 40px;
  width: 220px;
  background-color: #ffffff;
  padding: 25px;
}

.nav .bottom .container .right ul.categories li {
  margin-bottom: 5px;
}

.nav .bottom .container .right ul.categories.hide {
  opacity: 0;
  pointer-events: none;
}

.nav .bottom .container .right ul.categories .tarjas {
  position: relative;
}

.nav .bottom .container .right ul.tarjas-list {
  position: absolute;
  left: 195px;
  top: -7px;
  background-color: #ffffff;
  padding: 0;
  list-style: none;
  width: 180px;
  -webkit-box-shadow: 0px 0px 26px -4px rgba(149, 149, 149, 0.75);
          box-shadow: 0px 0px 26px -4px rgba(149, 149, 149, 0.75);
  padding: 25px;
  margin: 0;
}

.nav .bottom .container .right ul.tarjas-list.hide {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 850px) {
  .nav .bottom .container .right {
    width: 44.44444%;
  }
}

.nav .bottom .container .right p {
  color: #00355E;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.05rem;
  color: initial;
  margin: 0;
  font-weight: 400;
  line-height: 2;
}

.nav .bottom .container .right p:hover {
  color: #E20A0A;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.side-contact {
  position: fixed;
  right: 15%;
  top: 50%;
  z-index: 999;
}

@media screen and (max-width: 1400px) {
  .side-contact {
    right: 4%;
  }
}

.side-contact .icon {
  margin-bottom: 15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.side-contact .icon.fb {
  background-color: #3b5998;
}

.side-contact .icon.mail {
  background-color: #ea4335;
}

.side-contact .icon.wp {
  background-color: #25d366;
}

.side-contact .icon:hover {
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.side-contact .icon img {
  width: 30px;
  margin: auto;
}

/********************* Home ******************/
.video-container video {
  /* override other styles to make responsive */
  width: 100%    !important;
  height: auto   !important;
}

.products {
  max-width: 1140px;
  margin: 50px auto 0 auto;
  width: 88.88889%;
}

.products .products-container {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 850px) {
  .products .products-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .products .products-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.companies {
  max-width: 1200px;
  margin: 60px auto 100px auto;
}

.companies .slider {
  cursor: -webkit-grab;
  cursor: grab;
}

.companies .slider:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.companies .slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px auto 0 auto;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
}

.companies .slick-dots li {
  margin: 0 10px;
}

.companies .slick-dots li.slick-active button {
  background-color: #333;
}

.companies .slick-dots li button {
  cursor: pointer;
  width: 10px;
  height: 10px;
  font-size: 0;
  background-color: #818a91;
  border: none;
  border-radius: 50%;
  padding: 0;
}

.recent-products {
  max-width: 1200px;
  margin: auto;
}

.recent-products h1 {
  margin-bottom: 50px;
}

.recent-products .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.recent-products .container .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recent-products .container .item img {
  width: 150px;
}

.recent-products .container .item p {
  margin-bottom: 10px;
  color: #c36;
}

.contact {
  max-width: 1200px;
  margin: 50px auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 88.88889%;
}

@media screen and (max-width: 850px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact h1 {
  margin-bottom: 15px;
  color: #333;
}

.contact .left {
  width: 50%;
}

@media screen and (max-width: 850px) {
  .contact .left {
    width: 100%;
    margin-bottom: 15px;
  }
}

.contact .left input {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #818a91;
}

.contact .left input:focus {
  outline: none !important;
  border: 1px solid #333;
}

.contact .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 850px) {
  .contact .right {
    width: 100%;
  }
}

.contact .right.contact-style {
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.contact .right .container .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 25px;
}

.contact .right .container .info h3 {
  margin: 0;
}

.contact .right .container .info img {
  width: 40px;
  margin-bottom: 15px;
}

.contact .right .container.extrainfo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact .right .container.extrainfo p {
  text-align: center;
  max-width: 250px;
}

@media screen and (max-width: 850px) {
  .contact .right .container.extrainfo p {
    max-width: 200px;
    word-break: break-all;
  }
}

/********************* Nosotros ******************/
.header {
  width: 100%;
  height: 150px;
  background-image: url(../img/range-hood-types.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #00355E;
  opacity: .7;
  position: absolute;
  left: 0;
  top: 0;
}

.header > div {
  max-width: 1140px;
  margin: auto;
  max-width: 1140px;
  margin: auto;
  width: 100%;
  z-index: 1;
}

.header > div h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.1rem;
  color: #ffffff;
  margin: 0;
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
}

@media screen and (max-width: 850px) {
  .header > div h1 {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 580px) {
  .header > div h1 {
    font-size: 2.1rem;
  }
}

.header > div h1:before {
  content: "";
  width: 70px;
  height: 5px;
  background-color: #E20A0A;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.us {
  width: 88.88889%;
  max-width: 1200px;
  margin: 70px auto 0 auto;
}

.us .slick-slide {
  margin: 0 10px;
}

.who {
  width: 88.88889%;
  max-width: 1140px;
  margin: 70px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 850px) {
  .who {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 88.88889%;
  }
}

.who .left {
  width: 44.44444%;
}

@media screen and (max-width: 850px) {
  .who .left {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .who .right {
    width: 100%;
  }
}

.who h1 {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.who p {
  margin-bottom: 15px;
}

/********************* Categorías ******************/
.product-grid {
  max-width: 1140px;
  width: 100%;
  margin: 50px auto 50px auto;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.product-grid .product-category {
  width: 100%;
  height: 250px;
  justify-self: center;
  -ms-flex-item-align: end;
      align-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(149, 149, 149, 0.75);
          box-shadow: 0px 0px 5px 0px rgba(149, 149, 149, 0.75);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.product-grid .product-category img {
  width: 200px;
  margin-bottom: 15px;
}

.product-grid .product-category h1 {
  color: #00355E;
}

.product-grid .product-category:hover {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(149, 149, 149, 0.75);
          box-shadow: 0px 0px 25px 0px rgba(149, 149, 149, 0.75);
}
/*# sourceMappingURL=app.css.map */